{% extends "base.html" %}
{% block content2 %}
  <ul>
    <li><a href="{{url_for('login')}}">Login</a></li>
    <li><a href="{{url_for('signup')}}">Sign Up</a></li>
  </ul>
{% endblock %}
{% block content %}
 <!-- about section starts   -->
<section id="project" class="project">

<h1 class="heading">Abstract of Our Project</h1>

<!-- <div class="row">
  <div class="content">
    <h3>Upload Image</p>
    
  <form action="/" method="post">
    <label for="myfile">Select an image:</label>
    <input type="file" id="myfile" name="myfile" accept="image/*"> 
    <br>
   
    <br><br><br>
    <button type="submit">submit</button>
  </div> -->

  <div class="row">
  <div class="content">
    <h3>Offline Biometric Verification</p>    
  
    <p>Biometric security technologies are now found in almost every aspect of modern life. Biometric data and/or authentication devices are now found in a wide range of sectors such as government, companies, libraries, universities, banks etc., and also in a wide variety of things, including passports, driver's license, laptops etc.  In biometrics and document forensics, signature and fingerprint verification are two of the most difficult tasks. It involves identifying minute but critical details between real and fake signatures/fingerprints.  These verification systems are mostly based on manual verification, in which a person examines and compares the given signature/prints to the test signature/prints, necessitating the development of a more advanced system that is computer based.
      Deep Learning is quickly gaining traction as a leading field that has been successfully applied to a variety of fields, especially image processing. In our project, we would like to propose an offline signature and fingerprint verification system using a convolutional Siamese network. Siamese networks are twin networks with shared weights that can be trained to learn a feature space in which comparable observations are clustered together. With this project, we aim to achieve better accuracy than the majority of existing verification systems.
    </p>

  </div> 



  <div class="image">
    <img src="static/about.svg" alt="image">
  </div>

</div>


</section>
 <!-- about section ends  -->
{% endblock %}